.banks-list {
  table {
    width: 70%;
    margin: auto;

    th, td {
      white-space: nowrap;
    }
  }
}

.bank {
  h5 {
    color: $text;
  }
}

.form-bank {
  .container {
    width: 50%;
  }
}
