<div class="home">
  <div class="container pt-5">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <h1 class="contorn-effect">Prueba técnica para Hoy Trabajas</h1>
        <p class="pt-3">Para iniciar la prueba deberás iniciar sesión.</p>
        <p>Si no tienes usuario, puedes registrarte.</p>
        <%= link_to "Iniciar sesión", new_user_session_path, class: "btn btn-primary" %>
        <%= link_to "Registrarse", new_user_registration_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>
